* {
  box-sizing: border-box;
}

body {
  background-color: #283142;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

main {
  display: block;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 1rem;
  text-align: left;
  background-image: url("./assets/background-img.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
  main {
    padding: 3rem;
  }
}

ul {
  font-size: 20px;
}

.banner {
  align-content: center;
  display: none;
  justify-content: center;
  width: 100%;
}

button {
  display: block;
  margin: auto;
  padding: 1rem 2rem;
  font-size: 32px;
  font-weight: 700;
  border: none;
  background-color: #4caf50;
  cursor: pointer;
}
